.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#bootstrap-overrides {
  /*background-color: skyblue;*/
  padding: 0 5%;
}

#bootstrap-overrides .board {
  font-family: 'Arima Madurai', cursive;
  /*color: skyblue;*/
}

#bootstrap-overrides .message {
  padding: 5% 6%;
  background-color: white;
  border-radius: 10px;

}

#bootstrap-overrides h2 {
  font-size: 3em;
  text-align: left;
}

#bootstrap-overrides h4 {
  margin-top: 30px;
  padding-right: 20px;
  font-size: 2em;
  text-align: right;
}

#bootstrap-overrides .btn {
  background-color: none;
  border: none;
  color: white;
  outline: 0;
}
